<div>
  <h2 id="page-heading" data-cy="GlobalLeaderboardHeading">
    <span jhiTranslate="finalYearProjectApp.globalLeaderboard.home.title">Global Leaderboards</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="finalYearProjectApp.globalLeaderboard.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-global-leaderboard"
        [routerLink]="['/global-leaderboard/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span class="hidden-sm-down" jhiTranslate="finalYearProjectApp.globalLeaderboard.home.createLabel"
          >Create a new Global Leaderboard</span
        >
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <form name="searchForm" class="row row-cols-sm-auto align-items-center">
    <div class="col-sm-12">
      <div class="input-group w-100 mt-3">
        <label class="visually-hidden" for="currentSearch" jhiTranslate="finalYearProjectApp.globalLeaderboard.home.search"
          >Search for Global Leaderboard</label
        >
        <input
          type="text"
          class="form-control"
          [(ngModel)]="currentSearch"
          id="currentSearch"
          name="currentSearch"
          placeholder="{{ 'finalYearProjectApp.globalLeaderboard.home.search' | translate }}"
        />

        <button class="btn btn-info" (click)="search(currentSearch)">
          <fa-icon icon="search"></fa-icon>
        </button>

        @if (currentSearch) {
          <button class="btn btn-danger" (click)="search('')">
            <fa-icon icon="trash-alt"></fa-icon>
          </button>
        }
      </div>
    </div>
  </form>

  @if (globalLeaderboards?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="finalYearProjectApp.globalLeaderboard.home.notFound">No Global Leaderboards found</span>
    </div>
  }

  @if (globalLeaderboards && globalLeaderboards.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [sortState]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="rank">
              <div class="d-flex">
                <span jhiTranslate="finalYearProjectApp.globalLeaderboard.rank">Rank</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="totalPoints">
              <div class="d-flex">
                <span jhiTranslate="finalYearProjectApp.globalLeaderboard.totalPoints">Total Points</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="student.id">
              <div class="d-flex">
                <span jhiTranslate="finalYearProjectApp.globalLeaderboard.student">Student</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (globalLeaderboard of globalLeaderboards; track trackId(globalLeaderboard)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/global-leaderboard', globalLeaderboard.id, 'view']">{{ globalLeaderboard.id }}</a>
              </td>
              <td>{{ globalLeaderboard.rank }}</td>
              <td>{{ globalLeaderboard.totalPoints }}</td>
              <td>
                @if (globalLeaderboard.student) {
                  <div>
                    <a [routerLink]="['/student', globalLeaderboard.student.id, 'view']">{{ globalLeaderboard.student.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/global-leaderboard', globalLeaderboard.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                  </a>

                  <a
                    [routerLink]="['/global-leaderboard', globalLeaderboard.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(globalLeaderboard)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
