<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (teacher(); as teacherRef) {
      <div>
        <h2 data-cy="teacherDetailsHeading"><span jhiTranslate="finalYearProjectApp.teacher.detail.title">Teacher</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ teacherRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="finalYearProjectApp.teacher.name">Name</span></dt>
          <dd>
            <span>{{ teacherRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="finalYearProjectApp.teacher.email">Email</span></dt>
          <dd>
            <span>{{ teacherRef.email }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/teacher', teacherRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
